In [1]:
import urllib.parse
urllib.parse.quote_plus("")

from sqlalchemy import create_engine 
engine = create_engine('postgresql://postgres:@localhost:5432/Employees_db')
connection = engine.connect()

In [2]:

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
data = pd.read_sql('select * from salaries', connection)

In [5]:
salary = data[['salary']]
salary

        salary
0        60117
1        65828
2        40006
3        40054
4        78228
...        ...
300019   40000
300020   58058
300021   49597
300022   40000
300023   63707

[300024 rows x 1 columns]

In [ ]:
#plt.hist(data[['salary']], bins='auto',
         #density=True,
         #histtype='bar',
         #facecolor='b')

plt.hist(salary)           
plt.show()